.cartItem {
    display:flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.cartItem > img {
    max-height: 50px;
    max-width: 50px;
}

.cartBody {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.cartInfo {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.8rem;
}

.cartButtons {
    display: flex;
    justify-content: space-between;
}

.cartBtn {
    width: 30px;
}

.cartBtn:hover {
    cursor: pointer;
}