.productMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}


.productMain > h1{
    text-transform: uppercase;
}

.splash {
    width: 800px;
    height: 500px;
}

.splash > img {
    width: 100%;
    height: 100%;
}

.productContainer{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    gap: 10px;
    width: 90%;
    margin: 50px 0;
}

@media(max-width: 639px){
    .splash {
        width: 350px;
        height: 100%;
    }

    .productContainer{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
        width: 100%;
        margin: 50px 0;
    }
}

@media(min-width: 640px) and (max-width: 1012px){
    .splash {
        width: 600px;
        height: 100%;
    }

    .productContainer{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
        width: 100%;
        margin: 50px 0;
    }
}