.productMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}


.productMain > h1{
    text-transform: uppercase;
}

.splash {
    width: 800px;
    height: 500px;
}

.splash > img {
    width: 100%;
    height: 100%;
}

.productContainer{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    gap: 10px;
    width: 90%;
    margin: 50px 0;
}