.itemContainer{
    width:100%;
    height: 100vh;
    min-height: 600px;
    display:flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
}

.altHolder {
    display:flex;
    flex-direction:column;
    width:100px;
    height:500px;
}

.mainImg {
    width: 500px;
    height: 500px;
}

.altImg {
    width: 100px;
    height: 100px;
}

.infoHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 500px;
}

.details > p {
    font-size: 0.8rem;
    width:75%;
}

.dimensions > p {
    font-size: 0.8rem;
}

.cardBtn {
    width: 75px;
    padding: 5px 0;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #888888;
}