.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:300px;
    height:300px;
    text-align: center;
}

.mainPic {
    width: 70%;
    height: 70%;
}

.card > p {
    justify-self: start ;
}

@media(max-width: 639px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:155px;
        height:240px;
        text-align: center;
    }

    .card > h3 {
        font-size: 0.6rem;
    }

    .card > p {
        font-size: 0.6rem;
    }

    .card > img {
        width: 100%;
        height: 100%;
    }
}