#header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 75px;
    border-bottom: 7px solid #707070 ;
}

#cart {
    position: absolute;
    right: 10px;
    top: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cart > button {
    background: none;
    border: none;
    width: 40px;
}