.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #707070;
}

.footer > h2 {
    margin-left: 10px;
}

.footerLinks{
    display:flex;
    gap: 60px;
    font-size: 0.8rem;
    list-style: none;
}

.footerLinks:hover{
    cursor: default;
}

.socialIcons {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

@media(max-width: 415px){
    .footer > h2 {
        font-size: 1.2rem;
    }

    .footerLinks{
        display:flex;
        gap: 10px;
        font-size: 0.6rem;
        list-style: none;
    }

    .socialIcons > i {
        font-size: 1.2rem;
    }
}