.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 75px;
    margin-top: 10px;
}

#divider {
    height:35%;
    border:1px solid #707070 ;
}

  .greyLayer{
    position: fixed;
    top: 0;
    width:100%;
    height:300%;
    background-color: #707070;
    opacity: 0.8;
  }

  .bookConsultation:hover {
    cursor: pointer;
  }
  
  .main{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width:1200px;
    height:600px;  
  }
  
  .hero{
    width:720px;
    height:520px;
  }
  
  .mainText{
    margin-left: 80%;
  }

  .subText{
   width:100px;
   padding:0 5px;
   background-color: rgba(112, 112, 112,70%);
  }

  .mainText > h1 {
    margin-bottom: 10px;
  }

  .sub{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:400px;
    height:520px;
  }
  
  .row1, .row2{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:275px;
  }

  .row1 {
      align-items: flex-start;
  }
  
  .row2{
      align-items: flex-end;
  }

  .pic1, .pic2, .pic3, .pic4{
    width:167px;
    height:255px;
  }

  .rotatingFeature{
    width:1200px;
    height:700px;
    margin-bottom: 30px;
    text-align: center;
  }

  .rotatingFeature > h1 {
    padding-top: 30px;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .social{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:1200px;
      height: 350px;
      margin-top: 40px;
      margin-bottom: 10px ;
  }

  .social > img {
      height:95%;
      width:220px;
  }

  .socialText {
      display:flex;
      flex-direction: column;
      justify-content: center;
      gap:25px;
      text-align: center;
      width:220px;
      height:95%;
      border: 1px solid #707070;
      padding: 25px;
  }

  .socialText > p {
      font-size: 0.8rem;
  }



  

  