.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .main{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width:1200px;
    height:600px;  
  }
  
  .hero{
    width:720px;
    height:520px;
  }

  .hero img {
      width:100%;
      height:100%;
  }
  
  .sub{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:400px;
    height:520px;
  }
  
  .row1, .row2{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:275px;
  }

  .row1 {
      align-items: flex-start;
  }
  
  .row2{
      align-items: flex-end;
  }

  .pic1, .pic2, .pic3, .pic4{
    width:167px;
    height:255px;
  }

  .pic1 > img {
    width:100%;
    height:100%;
  }
  .pic2 > img {
    width:100%;
    height:100%;
  }
  .pic3 > img {
    width:100%;
    height:100%;
  }
  .pic4 > img {
    width:100%;
    height:100%;
  }

  .rotatingFeature{
    width:1200px;
    height:700px;
    margin-bottom: 30px;
  }

  .rotatingFeature > img{
      width:100%;
      height:100%;
  }

  .social{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:1200px;
      height: 350px;
      margin-top: 40px;
  }

  .social > img {
      height:95%;
      width:220px;
  }

  .socialText {
      display:flex;
      flex-direction: column;
      justify-content: center;
      gap:25px;
      text-align: center;
      width:220px;
      height:95%;
      border: 1px solid #707070;
      padding: 25px;
  }

  .socialText > p {
      font-size: 0.8rem;
  }

  .services {
      display:flex;
      justify-content: space-around;
      align-items: center;
      width: 1200px;
      height: 75px;
      margin-top: 10px;
  }

  #divider {
      height:35%;
      border:1px solid #707070 ;
  }
