.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 9%;
    margin-top: 25px;;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 50%;
}

.hero > img {
    width: 100%;
}

.sub {
    width: 50%;
}

.row1{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 10px;
}

.row2{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.holder {
    width: 24%;
}

.holder > img {
    width: 100%;
    height: 100%;
}

.monthly {
    margin-top: 25px;
    width: 100%;
}

.monthly > img {
    width: 91.4%;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin-top: 25px;
}

.social-holder {
    width: 12%;
    min-width: 100px;
}

.social-holder > img {
    width: 100%;
}

.social-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-right: 140px;
    height: 222px;
    border: 3px solid #707070 ;
    margin-bottom: 7px;
}

.social-copy > p {
    margin-top: 20px;
    font-size: 0.8rem;
}