.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 75px;
    margin-top: 10px;
}

#divider {
    height:35%;
    border:1px solid #707070 ;
}

  .greyLayer{
    position: fixed;
    top: 0;
    width:100%;
    height:300%;
    background-color: #707070;
    opacity: 0.8;
  }

  .bookConsultation:hover {
    cursor: pointer;
  }
  
  .main{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width:1200px;
    height:600px;  
  }
  
  .hero{
    width:720px;
    height:520px;
  }
  
  .mainText{
    margin-left: 80%;
  }

  .subText{
   width:100px;
   padding:0 5px;
   background-color: rgba(112, 112, 112,70%);
  }

  .mainText > h1 {
    margin-bottom: 10px;
  }

  .sub{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:400px;
    height:520px;
  }
  
  .row1, .row2{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:275px;
  }

  .row1 {
      align-items: flex-start;
  }
  
  .row2{
      align-items: flex-end;
  }

  .pic1, .pic2, .pic3, .pic4{
    width:167px;
    height:255px;
  }

  .rotatingFeature{
    width:1200px;
    height:700px;
    margin-bottom: 30px;
    text-align: center;
  }

  .rotatingFeature > h1 {
    padding-top: 30px;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .social{
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:1200px;
      height: 350px;
      margin-top: 40px;
      margin-bottom: 10px ;
  }

  .social > img {
      height:95%;
      width:220px;
  }

  .socialText {
      display:flex;
      flex-direction: column;
      justify-content: center;
      gap:25px;
      text-align: center;
      width:220px;
      height:95%;
      border: 1px solid #707070;
      padding: 25px;
  }

  .socialText > p {
      font-size: 0.8rem;
  }

@media(max-width: 626px){
  .services {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    font-size: 0.5rem;
}


  .main{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    height:500px;
  }

  .mainText{
    width: 350px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainText > h1 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .mainText > p {
    font-size: 0.6rem;
  }

  .hero{
    background-position: center;
    width: 100%;
    height: 270px;
  }

  .sub{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:350px;
    height:150px;
  }

  .subText{
    font-size: 0.6rem;
    width:100%;
    padding:0 5px;
    background-color: rgba(112, 112, 112,70%);
   }

  .pic1, .pic2, .pic3, .pic4{
    background-position: center;
    width:100%;
    height: 100px;
  }

  .row1, .row2{
    display:flex;
    justify-content: center;
    align-content: center;
    width:50%;
    height:110px;
  }

  .rotatingFeature{
    background-position: center top;
    width:350px;
    height:300px;
    text-align: center;
  }

  .rotatingFeature > p {
    font-size: 0.7rem;
  }

  .social{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:350px;
    height: 350px;
    margin-top: 0px;
    margin-bottom: 40px ;
}

.socialText {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:25px;
  text-align: center;
  width:150px;
  height:95%;
  border: 1px solid #707070;
  padding: 10px;
}

.social > img {
  height:95%;
  width:25%;
  object-fit: cover;
}
}

@media(min-width:627px) and (max-width:1238px){
  .services {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 40px;
    margin-top: 10px;
    font-size: 0.8rem;
}


  .main{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    height:500px;
  }

  .mainText{
    width: 600px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainText > h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .mainText > p {
    font-size: 0.8rem;
  }

  .hero{
    background-position: center;
    width: 100%;
    height: 270px;
  }

  .sub{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:600px;
    height:150px;
  }

  .subText{
    font-size: 1rem;
    width:100%;
    padding:0 5px;
    background-color: rgba(112, 112, 112,70%);
   }

  .pic1, .pic2, .pic3, .pic4{
    background-position: center;
    width:100%;
    height: 130px;
  }

  .row1, .row2{
    display:flex;
    justify-content: center;
    align-content: center;
    width:50%;
    height:138px;
  }

  .rotatingFeature{
    width:600px;
    height:375px;
    text-align: center;
  }

  .rotatingFeature > p {
    font-size: 0.7rem;
  }

  .social{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:600px;
    height: 350px;
    margin-top: 0px;
    margin-bottom: 40px ;
}

.socialText {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:25px;
  text-align: center;
  width:150px;
  height:95%;
  border: 1px solid #707070;
  padding: 10px;
}

.social > img {
  height:95%;
  width:25%;
  object-fit: cover;
}
} 

  