#nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height:40px;
    border-bottom: 2px solid #707070 ;;
}

#nav > h3 {
    margin: 0 10px;
}

#nav > h3 > a {
    text-decoration: none;
    color: black;
}
