#nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height:40px;
    border-bottom: 2px solid #707070 ;;
}

#nav > h3 {
    margin: 0 10px;
}

.link{
    color: #000;
    text-decoration: none;
    padding: 4px;
}

@media(max-width: 415px){
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height:35px;
        border-bottom: 2px solid #707070 ;
        font-size: 0.8rem;
    }
}
